/* Скрываем дублирующийся заголовок в левом меню ТОЛЬКО на ПК */
@media screen and (min-width: 76.25em) {
  .md-nav--primary > .md-nav__title {
    display: none;
  }

  /* Элегантная разделительная линия */
  /* Используем var(--md-default-fg-color--lightest), чтобы цвет сам менялся при переключении светлой/темной темы */
  .md-sidebar--primary {
    border-right: 1px solid var(--md-default-fg-color--lightest) !important;
    padding-right: 1.5rem;
  }
}